In [47]:
import pandas as pd
import datetime as dt

In [48]:
data09 = pd.read_csv('../Resources/raw-data-2000-2009.csv')
data19 = pd.read_csv('../Resources/raw-data-2010-2019.csv')
data29 = pd.read_csv('../Resources/raw-data-2020-2029.csv')

In [49]:
df09 = pd.DataFrame(data09)
df19 = pd.DataFrame(data19)
df29 = pd.DataFrame(data29)

In [50]:
df09.head()

,_id,count_id,count_date,location_id,location,lng,lat,centreline_type,centreline_id,px,...,ex_peds,wx_peds,nx_bike,sx_bike,ex_bike,wx_bike,nx_other,sx_other,ex_other,wx_other
0,1,8180,2000-01-18,4126,EGLINTON AVE AT PHARMACY AVE (PX 452),-79.297515,43.725651,2.0,13453978.0,452.0,...,7.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,8180,2000-01-18,4126,EGLINTON AVE AT PHARMACY AVE (PX 452),-79.297515,43.725651,2.0,13453978.0,452.0,...,12.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,8180,2000-01-18,4126,EGLINTON AVE AT PHARMACY AVE (PX 452),-79.297515,43.725651,2.0,13453978.0,452.0,...,7.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,8180,2000-01-18,4126,EGLINTON AVE AT PHARMACY AVE (PX 452),-79.297515,43.725651,2.0,13453978.0,452.0,...,9.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,8180,2000-01-18,4126,EGLINTON AVE AT PHARMACY AVE (PX 452),-79.297515,43.725651,2.0,13453978.0,452.0,...,10.0,4.0,3.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0

### 2000-2009 dataset

In [51]:
df09.columns

Index(['_id', 'count_id', 'count_date', 'location_id', 'location', 'lng',
       'lat', 'centreline_type', 'centreline_id', 'px', 'time_start',
       'time_end', 'sb_cars_r', 'sb_cars_t', 'sb_cars_l', 'nb_cars_r',
       'nb_cars_t', 'nb_cars_l', 'wb_cars_r', 'wb_cars_t', 'wb_cars_l',
       'eb_cars_r', 'eb_cars_t', 'eb_cars_l', 'sb_truck_r', 'sb_truck_t',
       'sb_truck_l', 'nb_truck_r', 'nb_truck_t', 'nb_truck_l', 'wb_truck_r',
       'wb_truck_t', 'wb_truck_l', 'eb_truck_r', 'eb_truck_t', 'eb_truck_l',
       'sb_bus_r', 'sb_bus_t', 'sb_bus_l', 'nb_bus_r', 'nb_bus_t', 'nb_bus_l',
       'wb_bus_r', 'wb_bus_t', 'wb_bus_l', 'eb_bus_r', 'eb_bus_t', 'eb_bus_l',
       'nx_peds', 'sx_peds', 'ex_peds', 'wx_peds', 'nx_bike', 'sx_bike',
       'ex_bike', 'wx_bike', 'nx_other', 'sx_other', 'ex_other', 'wx_other'],
      dtype='object')

In [52]:
df09.dtypes

_id                  int64
count_id             int64
count_date          object
location_id          int64
location            object
lng                float64
lat                float64
centreline_type    float64
centreline_id      float64
px                 float64
time_start          object
time_end            object
sb_cars_r          float64
sb_cars_t          float64
sb_cars_l          float64
nb_cars_r          float64
nb_cars_t          float64
nb_cars_l          float64
wb_cars_r          float64
wb_cars_t          float64
wb_cars_l          float64
eb_cars_r          float64
eb_cars_t          float64
eb_cars_l          float64
sb_truck_r         float64
sb_truck_t         float64
sb_truck_l         float64
nb_truck_r         float64
nb_truck_t         float64
nb_truck_l         float64
wb_truck_r         float64
wb_truck_t         float64
wb_truck_l         float64
eb_truck_r         float64
eb_truck_t         float64
eb_truck_l         float64
sb_bus_r           float64
sb_bus_t           float64
sb_bus_l           float64
nb_bus_r           float64
nb_bus_t           float64
nb_bus_l           float64
wb_bus_r           float64
wb_bus_t           float64
wb_bus_l           float64
eb_bus_r           float64
eb_bus_t           float64
eb_bus_l           float64
nx_peds            float64
sx_peds            float64
ex_peds            float64
wx_peds            float64
nx_bike            float64
sx_bike            float64
ex_bike            float64
wx_bike            float64
nx_other           float64
sx_other           float64
ex_other           float64
wx_other           float64
dtype: object

In [53]:
#converting the date from string to datetime
df09['count_date']=pd.to_datetime(df09['count_date'])

In [54]:
df09.dtypes

_id                         int64
count_id                    int64
count_date         datetime64[ns]
location_id                 int64
location                   object
lng                       float64
lat                       float64
centreline_type           float64
centreline_id             float64
px                        float64
time_start                 object
time_end                   object
sb_cars_r                 float64
sb_cars_t                 float64
sb_cars_l                 float64
nb_cars_r                 float64
nb_cars_t                 float64
nb_cars_l                 float64
wb_cars_r                 float64
wb_cars_t                 float64
wb_cars_l                 float64
eb_cars_r                 float64
eb_cars_t                 float64
eb_cars_l                 float64
sb_truck_r                float64
sb_truck_t                float64
sb_truck_l                float64
nb_truck_r                float64
nb_truck_t                float64
nb_truck_l                float64
wb_truck_r                float64
wb_truck_t                float64
wb_truck_l                float64
eb_truck_r                float64
eb_truck_t                float64
eb_truck_l                float64
sb_bus_r                  float64
sb_bus_t                  float64
sb_bus_l                  float64
nb_bus_r                  float64
nb_bus_t                  float64
nb_bus_l                  float64
wb_bus_r                  float64
wb_bus_t                  float64
wb_bus_l                  float64
eb_bus_r                  float64
eb_bus_t                  float64
eb_bus_l                  float64
nx_peds                   float64
sx_peds                   float64
ex_peds                   float64
wx_peds                   float64
nx_bike                   float64
sx_bike                   float64
ex_bike                   float64
wx_bike                   float64
nx_other                  float64
sx_other                  float64
ex_other                  float64
wx_other                  float64
dtype: object

In [55]:
#filter for the years we want
filter = (df09['count_date'].dt.year >= 2007)
filtered_df09 = df09.loc[filter]

In [56]:
#adding totals to make groupby easier
filtered_df09['total_cars'] = filtered_df09.loc[:, 'sb_cars_r':'eb_bus_l'].sum(axis=1)
filtered_df09['total_pedestrians'] = filtered_df09.loc[:, 'nx_peds':'wx_peds'].sum(axis=1)
filtered_df09['total_bikes'] = filtered_df09.loc[:, 'nx_bike':'wx_bike'].sum(axis=1)

C:\Users\ASROCK Z590M Phantom\AppData\Local\Temp\ipykernel_8408\677316927.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df09['total_cars'] = filtered_df09.loc[:, 'sb_cars_r':'eb_bus_l'].sum(axis=1)
C:\Users\ASROCK Z590M Phantom\AppData\Local\Temp\ipykernel_8408\677316927.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df09['total_pedestrians'] = filtered_df09.loc[:, 'nx_peds':'wx_peds'].sum(axis=1)
C:\Users\ASROCK Z590M Phantom\AppData\Local\Temp\ipykernel_8408\677316927.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df09['total_bikes'] = filtered_df09.loc[:, 'nx_bike':'wx_bike'].sum(axis=1)

In [57]:
#drop all of the individual columns for readability
filtered_df09 = filtered_df09.drop(columns=['sb_cars_r', 'sb_cars_t', 'sb_cars_l', 'nb_cars_r',
       'nb_cars_t', 'nb_cars_l', 'wb_cars_r', 'wb_cars_t', 'wb_cars_l',
       'eb_cars_r', 'eb_cars_t', 'eb_cars_l', 'sb_truck_r', 'sb_truck_t',
       'sb_truck_l', 'nb_truck_r', 'nb_truck_t', 'nb_truck_l', 'wb_truck_r',
       'wb_truck_t', 'wb_truck_l', 'eb_truck_r', 'eb_truck_t', 'eb_truck_l',
       'sb_bus_r', 'sb_bus_t', 'sb_bus_l', 'nb_bus_r', 'nb_bus_t', 'nb_bus_l',
       'wb_bus_r', 'wb_bus_t', 'wb_bus_l', 'eb_bus_r', 'eb_bus_t', 'eb_bus_l',
       'nx_peds', 'sx_peds', 'ex_peds', 'wx_peds', 'nx_bike', 'sx_bike',
       'ex_bike', 'wx_bike', 'nx_other', 'sx_other', 'ex_other', 'wx_other'])

In [58]:
filtered_df09.head()

,_id,count_id,count_date,location_id,location,lng,lat,centreline_type,centreline_id,px,time_start,time_end,total_cars,total_pedestrians,total_bikes
183338,183339,19161,2007-01-02,5864,COLLEGE ST AT OSSINGTON AVE (PX 829),-79.422705,43.6544,2.0,13466116.0,829.0,2007-01-02T07:30:00,2007-01-02T07:45:00,400.0,54.0,2.0
183339,183340,19161,2007-01-02,5864,COLLEGE ST AT OSSINGTON AVE (PX 829),-79.422705,43.6544,2.0,13466116.0,829.0,2007-01-02T07:45:00,2007-01-02T08:00:00,449.0,63.0,4.0
183340,183341,19161,2007-01-02,5864,COLLEGE ST AT OSSINGTON AVE (PX 829),-79.422705,43.6544,2.0,13466116.0,829.0,2007-01-02T08:00:00,2007-01-02T08:15:00,506.0,84.0,3.0
183341,183342,19161,2007-01-02,5864,COLLEGE ST AT OSSINGTON AVE (PX 829),-79.422705,43.6544,2.0,13466116.0,829.0,2007-01-02T08:15:00,2007-01-02T08:30:00,519.0,81.0,8.0
183342,183343,19161,2007-01-02,5864,COLLEGE ST AT OSSINGTON AVE (PX 829),-79.422705,43.6544,2.0,13466116.0,829.0,2007-01-02T08:30:00,2007-01-02T08:45:00,519.0,154.0,9.0

In [59]:
#group by location, year, lat/lng and return just the counts we're interested in for our traffic volume
grouped09 = filtered_df09.groupby(['location',filtered_df09['count_date'].dt.year,'lng','lat'])[['total_cars','total_pedestrians','total_bikes']].sum().reset_index()

In [60]:
filtered_df09['location'].nunique()

2159

In [61]:
sorted = grouped09.sort_values('count_date')

In [62]:
sorted.head()

,location,count_date,lng,lat,total_cars,total_pedestrians,total_bikes
0,# 1101 LESLIE ST AT 430M N OF EGLINTON AVE (PX...,2007,-79.349645,43.720892,15588.0,60.0,0.0
1207,FALAISE RD AT KINGSTON RD,2007,-79.188819,43.768507,22276.0,835.0,20.0
1205,FAIRVIEW MALL DR AT HIGHWAY 404 & DVP S/B RAMP...,2007,-79.341598,43.778708,16384.0,9.0,3.0
1204,FAIRSIDE AVE AT VIRGINIA AVE,2007,-79.326685,43.693631,463.0,237.0,37.0
1203,FAIRSIDE AVE AT HOLBORNE AVE,2007,-79.326393,43.692937,607.0,221.0,31.0